.children {
    position: absolute;
    width: 80%;
    height: 85vh;
    left: 15%;
    top: 10%;
    margin-right: 10px;
}

.main { 
    display:flex;
    flex-direction: column;
    width: 90%;
}

.content { 
    width: 95vw;
    height:  93vh;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
    margin-left: 5px;
}

.children {
    position: absolute;
    width: 80%;
    left: 15%;
}